<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookbook edit book page</title>
    <link rel="stylesheeet" href="/css/app.css" />
</head>
<body>
    <h1>Edit Book Page</h1>
    <form action="/books/<%=book.id%>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%=book.title%>" />
        <br>
        Author: <input type="text" name="author" value="<%=book.author%>" />
        <br>
        ISBN: <input type="text" name="isbn" value="<%=book.isbn%>" />
        <br>
        Genre: <input type="text" name="genre" value="<%=book.genre%>" />  
        <br>
        Read already?: 
        <input type="checkbox" name="isRead"
                <% if(book.isRead === true) { %>
                    checked
                <% } %>
        />
        <br>
        Cover Image URL: <input type="url" name="img" value="<%=book.img%>" />
        <br>
        Date added: <input type="date" name="added" value="<%=book.added%>" />
        <br> 
        <br>
        Comments: 
        <br>
        <textarea name="comments" rows="10" cols="50" value="<%=book.comments%>" ></textarea>
        <br>
        <br>
        <input type="submit" name="" value="Submit Changes" />
    </form>
</body>
</html>